html, body {
    height: 100%;
    
   
}

#map {
    height: 700px;
    width: 100%;
}


#results {
    overflow-y: auto;
    height:700px;
    padding-left: 0px;
}

span {
    display: inline-block;
    vertical-align: middle;
}

#logo_footer {
  position: absolute;
  left: 50%;
  height: 15px;
  margin-left: -50px;
}

#pager {
    padding: 10px;
}

#Header {
    background-color: #0064a0;
    height: 45px;
    color: white;
    font-size: 25px;
    font-family: "Lucida Console", Monaco, monospace;
}

#Toolbar {
    background-color: aliceblue;
    height: 30px;
    color: white;
    font-size: 20px;
}

#search-input {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0px;
}

#recordsNumber {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}


